# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.local

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# OS / Editor
.DS_Store
.vscode/
.idea/

# Temporary files
current_requirements.txt